
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %} {% endblock %} Plataforma EEG</title>

    {% include 'boostrap_css.html' %}
  </head>

  <body>

  <div class="site-wrapper">

      <div class="site-wrapper-inner">

          <div class="cover-container">

              <div class="masthead clearfix">
                  <div class="inner">
                      <h3 class="masthead-brand">Plataforma EEG</h3>
                      <nav>
                          <ul class="nav masthead-nav">
                              <li class="active"><a href="#">Inicio</a></li>
                              <li><a href="pacientes">Pacientes</a></li>
                              <li><a href="medicos">Médicos</a></li>
                              <li><a href="#">Contacto</a></li>
                          </ul>
                      </nav>
                  </div>
              </div>

              <div class="inner cover">
                  <h1 class="cover-heading">Plataforma de gestón y visualizacíon de registros EEG</h1>

                  <p class="lead text-justify">Esta plataforma web permite la visualización y la gestión de registros
                  Electroencefalográficos. El personal médico puede publicar los resultados de un examen
                  EEG en forma rápida para que el paciente pueda acceder a este.</p>

                  <p class="lead">
                      <a href="#" class="btn btn-lg btn-default">Registrate!</a>
                  </p>
              </div>

              <div class="mastfoot">
                  <div class="inner">
                      <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a
                              href="https://twitter.com/mdo">@mdo</a>.</p>
                  </div>
              </div>

          </div>

      </div>

  </div>

    {% include 'javascript.html' %}

  </body>
</html>
