<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title> Plataforma EEG</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/starter-template.css' %}"  rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Pacientes</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home'%}">Inicio</a></li>
                    <li><a href="#about">Editar Perfil</a></li>
                    <li><a href="#contact">Ver Registros</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>Bienvenido, en esta página podras visualizar los resultados de tu exámen.</h1>

            <p class="lead">Para ver los registros de tus exámenes debes hacer click en la opción Ver Registros
            de la barra superior.</p>
        </div>

    </div>
    <!-- /.container -->
    {% include 'javascript.html' %}
</body>
</html>