<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        {% load crispy_forms_tags %}
        {% load staticfiles %}
        <title>Registros EEG</title>

        <!-- Custom styles for this template -->
        <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	</head>

	<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Registros EEG</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home'%}">Inicio</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
		<!-- List of uploaded documents -->
		{% if registros %}

			{% for registro in registros %}
                <div class="row">
                    <div class="col-md-8">
                        <img src="{{ registro.archivo_registro.url }}" class="img-responsive"/>
                    </div>
                    <div class="col-md-4">
                        <p class="lead">Comentarios: {{ registro.comentario }}</p>
                    </div>
                </div>
			{% endfor %}

		{% else %}
			<p>No se encontraron registros.</p>
		{% endif %}
    </div>

		{% include 'javascript.html' %}
	</body>

</html> 